In [3]:
import pandas as pd
import numpy as np

In [ ]:
def salary_hike(x):
    if x>3000:
        return np.ceil(x+(x*.30))
    else:
        return np.ceil(x*1.5)

In [ ]:
df=pd.DataFrame({'Dept':[1,2,3,4,5,6,7,8,9,10],
                'Emp_Name':['Rajesh','Shankar','Vihaan','Saurav','Gaurav','Riya','Munmun','Rohit','Yashu','Garima'],
                'Salary':[4994,5455,6166,4044,3433,2922,6466,7877,6766,5155]})

In [ ]:
df

In [ ]:
df['New Salary']=df['Salary'].apply(salary_hike)

In [ ]:
df

In [ ]:
df['Name_Length']=df['Emp_Name'].apply(len)

In [ ]:
df

In [ ]:
=df['New Salary'].apply(lambda x:np.sqrt(x))

In [ ]:
df['sqrt']=df['New Salary'].apply(lambda x:np.sqrt(x))

In [ ]:
df

In [ ]:
print("Min and Max of the column 'New Salary' are  : ",df['New Salary'].min()    ,  df['New Salary'].max())

In [ ]:
print("\n Name of Column \n",'-'*20,sep="")
print(df.columns)

In [ ]:
l=list(df.columns)
print("\n Column name in a list of String for later manipulation : ",l)

In [ ]:
print("\n Deleting Column by 'del' command \n",'-'*50,sep=' ')
del df['Salary']
print(df)

In [ ]:
df

In [ ]:
df=pd.DataFrame({'Name':['Ramesh','Raghav',np.nan,np.nan],
                'Gender':[np.nan,'M','M','F'],
                'Section':['A','B','C','D'],
                'Class':[5,12,np.nan,np.nan],
                'Phone_Number':[np.nan,9406289124,8349089124,np.nan],
                'Location':['Bengluru','Noida','Hyderabad',np.nan],
                'Email_Present':['Y','N',np.nan,np.nan],
                'Door_Number':[np.nan,444,555,345],
                'Street_Name':['ABC','DEF','GHI','XYZ'],
                'Pin_Code':[5,12,np.nan,np.nan],
                 'State':[np.nan,'Up','Telangana',np.nan],
                 'Dad_Name':['XYZ','DEF','GHI',np.nan]},dtype=int)

df

In [ ]:
len(df.columns)

In [ ]:
df.isnull().sum()

In [ ]:
df.isnull().sum().sum()

In [ ]:
ipl=pd.read_csv('matches.csv')

In [ ]:
ipl

In [ ]:
ipl.head()

In [ ]:
ipl.tail()

In [ ]:
ipl.sample(n=5)

In [ ]:
ipl=pd.read_csv("https://raw.githubusercontent.com/s4sauravv/Datasets/main/matches.csv")

In [ ]:
ipl

In [ ]:
ipl.head()

In [ ]:
ipl.tail()

In [ ]:
ipl.shape()

In [ ]:
type(ipl)

In [ ]:
ipl

In [ ]:
pd.set_option('display.max_rows',None)

In [ ]:
excel_file=pd.read_excel(r"C:\Users\safar\Downloads\matches (1).csv")

In [ ]:
ipl.to_csv('ipl_copy1.csv')

In [ ]:
ipl.to_csv(r"D:\CSV Files.csv",header=True,index=False)

In [1]:
url='https://www.basketball-reference.com/leagues/NBA_2015_totals.html'

In [4]:
BB_data=pd.read_html(url)

In [5]:
BB_data

[      Rk          Player Pos Age   Tm   G  GS    MP   FG  FGA  ...   FT%  ORB  \
 0      1      Quincy Acy  PF  24  NYK  68  22  1287  152  331  ...  .784   79
 1      2    Jordan Adams  SG  20  MEM  30   0   248   35   86  ...  .609    9
 2      3    Steven Adams   C  21  OKC  70  67  1771  217  399  ...  .502  199
 3      4     Jeff Adrien  PF  28  MIN  17   0   215   19   44  ...  .579   23
 4      5   Arron Afflalo  SG  29  TOT  78  72  2502  375  884  ...  .843   27
 ..   ...             ...  ..  ..  ...  ..  ..   ...  ...  ...  ...   ...  ...
 670  490  Thaddeus Young  PF  26  TOT  76  68  2434  451  968  ...  .655  127
 671  490  Thaddeus Young  PF  26  MIN  48  48  1605  289  641  ...  .682   75
 672  490  Thaddeus Young  PF  26  BRK  28  20   829  162  327  ...  .606   52
 673  491     Cody Zeller   C  22  CHO  62  45  1487  172  373  ...  .774   97
 674  492    Tyler Zeller   C  25  BOS  82  59  1731  340  619  ...  .823  146

      DRB  TRB  AST  STL BLK  TOV   PF   PTS
 0    222  301   68   27  22   60  147   398
 1     19   28   16   16   7   14   24    94
 2    324  523   66   38  86   99  222   537
 3     54   77   15    4   9    9   30    60
 4    220  247  129   41   7  116  167  1035
 ..   ...  ...  ...  ...  ..  ...  ...   ...
 670  284  411  173  124  25  117  171  1071
 671  170  245  135   86  17   75  115   685
 672  114  166   38   38   8   42   56   386
 673  265  362  100   34  49   62  156   472
 674  319  465  113   18  52   76  205   833

 [675 rows x 30 columns]]

In [6]:
BB_data[0].head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035

In [ ]:
BB_data[0].tail()

In [ ]:
BB_data[0].sample(n=4)

In [ ]:
BB_data[0].shape

In [ ]:
BB_data[0].columns

In [ ]:
BB_data[0][['Rk','Player','Pos']].head()

In [ ]:
BB_data[0]

In [ ]:
pd.set_option('display.max_rows',None)