In [ ]:
import pandas as pd
import numpy as np

In [ ]:
ser=pd.Series()

In [ ]:
ser

Series([], dtype: object)

In [ ]:
ser=pd.Series([0,10,20,30,40,50,60,70,80,90]) # Here You Have to Notice Data Type= Float64 :Remember:
print(ser)

0     0
1    10
2    20
3    30
4    40
5    50
6    60
7    70
8    80
9    90
dtype: int64

In [ ]:
ser=pd.Series([20,15.7,'10']) # Lets check Data Type Here-Object .Why Object ? Because in data list one string is present
print(ser)

0      20
1    15.7
2      10
dtype: object

In [ ]:
dict={'A':[1,2,3],'B':[5,8,9],'C':[1,2,3]}

In [ ]:
df=pd.DataFrame(dict)
print(df)

   A  B  C
0  1  5  1
1  2  8  2
2  3  9  3

In [ ]:
df['State']="BR:CG:MP".split(':')

In [ ]:
print(df)

   A  B  C State
0  1  5  1    BR
1  2  8  2    CG
2  3  9  3    MP

In [ ]:
print("\n Dropping any column with nan value\n",'-'*35,sep='')
print(df.dropna(axis=1))

 Dropping any column with nan value
-----------------------------------
   A  B  C State
0  1  5  1    BR
1  2  8  2    CG
2  3  9  3    MP

In [ ]:
print(df)

   A  B  C State
0  1  5  1    BR
1  2  8  2    CG
2  3  9  3    MP

In [ ]:
print("\n Dropping any rows with a Nan Value\n",'-'*35)
print(df.dropna(axis=0))

 Dropping any rows with a Nan Value
 -----------------------------------
   A  B  C State
0  1  5  1    BR
1  2  8  2    CG
2  3  9  3    MP

In [ ]:
print(df)

   A  B  C State
0  1  5  1    BR
1  2  8  2    CG
2  3  9  3    MP

In [ ]:
print("\n Filling Value with a Default Value\n",'-'*35,sep='')
print(df.fillna(value=50))

 Filling Value with a Default Value
-----------------------------------
   A  B  C State
0  1  5  1    BR
1  2  8  2    CG
2  3  9  3    MP

In [ ]:
print(df)

   A  B  C State
0  1  5  1    BR
1  2  8  2    CG
2  3  9  3    MP

In [ ]:
print("\n Filling Values with a computed values (mean of a column A here)\n",'-'*60,sep='')
df.fillna(value=df['C'].mean(),inplace=True)#inplace=True means we save our data for future
print(df)

 Filling Values with a computed values (mean of a column A here)
------------------------------------------------------------
   A  B  C State
0  1  5  1    BR
1  2  8  2    CG
2  3  9  3    MP

In [ ]:
print(df)

   A  B  C State
0  1  5  1    BR
1  2  8  2    CG
2  3  9  3    MP

In [ ]:
data={'Company':['Goog','Goog','MSFT','MSFT','FB','FB'],
      'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
     'Sales':[200,120,340,124,243,350]}

In [ ]:
df=pd.DataFrame(data)
print(df)

In [ ]:
bycomp=df.groupby('Company')
print("\n Grouping by 'company' column and listing mean sales\n",'-'*55,sep='')
print(bycomp.mean())

In [ ]:
bycomp=df.groupby('Company')
print("\n Grouping by 'Company' column and listing sum of sales\n",'-'*55,sep='')
print(bycomp.sum())

In [ ]:
class_a=pd.DataFrame({'Mat':[45,68,35,65],
                     'Eng':[54,87,36,52],
                     'Sci':[66,77,88,70],
                     'Chem':[54,79,58,76]},
                    index=['Ravi','Shyam','Saurav','Abhi'])
class_a

In [ ]:
class_b=pd.DataFrame({'Mat':[50,87,69,71],
                     'Eng':[66,50,87,69],
                     'Sci':[34,66,69,71],
                     'Chem':[54,87,34,66]},
                    index=['Shaan','Mahi','Viru','Mona'])
class_b

In [ ]:
class_c=pd.DataFrame({'Mat':[66,50,87,56],
                     'Eng':[56,87,89,71],
                     'Sci':[77,88,70,52],
                     'Chem':[34,56,56,87]},
                    index=['Astha','Rohit','Rahul','Shital'])
class_c

In [ ]:
all_student_marks=pd.concat([class_a,class_b,class_c],axis=0)
print("\n After concatenation along row \n",'-'*30,sep='')
print(all_student_marks)

In [ ]:
df.cat2=pd.concat([class_a,class_b,class_c],axis=1)
print("\n Concat with column wise \n",'-'*60,sep='')
print(df.cat2)

In [ ]:
df.cat2.fillna(value=0,inplace=True)

In [ ]:
print(df.cat2)

In [ ]:
player_id_name=pd.DataFrame({'ID':[25,30,35,40,45,50,55],
                            'Name':['Ronaldo','Messi','Pele','Maradona','Harry','Pogba','Chhetri']})

In [ ]:
print("Player Id and Name\n============================")
player_id_name

In [ ]:
player_detail=pd.DataFrame({'ID':[25,30,45,50,55],
                            'Age':[36,34,20,28,37],
                            'Country':['Porugal','Argentina','England','France','India']})

In [ ]:
print("Player Details \n====================")
player_detail

In [ ]:
print("======DataSet will Merged based on the ID's==========")
pd.merge(player_id_name,player_detail,on='ID')

In [ ]:
left=pd.DataFrame({'A':['A0','A1','A2'],
                  'B':['B0','B1','B2']},
                 index=['K0','K1','K2'])

In [ ]:
right=pd.DataFrame({'C':['C0','C2','C3'],
                   'D':['D0','D2','D3']},
                  index=['K0','K2','K3'])

In [ ]:
left

In [ ]:
right

In [ ]:
left.join(right)

In [ ]:
left.join(right,how='outer')